body {
  background-color: #000c1f;
  color: white;
}

main {
  height: 100vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.fondo {
  background-color: #00122e;
  justify-content: center;
  border-radius: 1rem;
}

.imagen {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
  margin: .75rem;
}
img {
  max-width: 100%;
  height: auto;
  width: 4rem;
}
.contenedor-saludo {
  margin: 0.75rem;
  
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.saludo {
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
}

.codigo {
  font-size: 1.5rem;
  font-weight: 800;
  margin: .5rem;
}

.prec {
  font-size: 15px;
  margin: .5rem;
}

.btn {
  margin: 1.25rem 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #6e004c;
  border-radius: 6px;
  padding: 0.75rem 0.5rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
}


